:root {
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
  }

.main_slider {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
   
    background-position: center center;
  }
  .main_slider_content {
    width: 60%;
    color: orange;
  }
  a{
    text-decoration: none;
  }
  .main_slider_content h6 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;
  }
  .main_slider_content h1 {
    font-weight: 400;
    line-height: 1;
  }
  .red_button {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .red_button:hover {
    background: #fe7c7f !important;
  }
  .red_button a {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
  }
  .shop_now_button {
    width: 140px;
    margin-top: 32px;
  }
  .home-wrapper-1{
    background-color: #111111;
  }
  .main-banner-content {
    top: 15%;
    left: 5%;
   
  }
  .main-banner-content h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
   
    text-transform: uppercase;
  }
  .main-banner-content h5 {
    font-size: 42px;
    line-height: 54px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
  }
  
  .main-banner-content p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4;
    color: var(--color-131921);
  }
  .small-banner-content {
    top: 25%;
    left: 10%;
    background-color: black;
    color: orange;
  }
  .small-banner-content h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  .small-banner-content h5 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
  }
  
  .small-banner-content p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4;
    color: var(--color-131921);
  }
  .small-banner {
    width: 49%;
  }
  